
#displayGameplay,
#displayHighscore,
#displayWelcome,
#display{
    -fx-background-color: black;
}

#displayWelcomeClaim {
    -fx-font-size: 16;
    -fx-text-fill: #fff;
}

.btnIcon {
    -fx-font-size: 16;
    -fx-text-fill: #fff;
    -fx-graphic-text-gap: 20px;
    -fx-background-color: #000;
    -fx-background-radius: 5;
    -fx-background-insets: 0;
    -fx-border-radius: 5;
    -fx-border-width: 2;
    -fx-pref-width: 200px;
    -fx-padding: 5px 20px;
}
#gameplayBtn {
     -fx-border-color: #997aff;
     -fx-graphic-text-gap: 8px;
     -fx-graphic: url('../graphics/layout/btnInvader3.png');
 }
#gameplayBtn:hover, #gameplayBtn:focused {
    -fx-text-fill:  #997aff;
    -fx-graphic: url('../graphics/layout/btnInvader3Hover.png');
}
#highscoreBtn {
    -fx-border-color: #ffb66f;
    -fx-graphic: url('../graphics/layout/btnInvader2.png');
}
#highscoreBtn:hover, #highscoreBtn:focused{
    -fx-text-fill:  #ffb66f;
    -fx-graphic: url('../graphics/layout/btnInvader2Hover.png');
}


.table-view{
    -fx-background-color: transparent;
}

.table-view:focused{
    -fx-background-color: transparent;
}

/* Spaltenköpfe
    Struktur column-header-background -> column-header */

.table-view .column-header-background{
    -fx-background-color: linear-gradient(#131313 0%, #424141 100%);
}

.table-view .column-header-background .label{
    -fx-background-color: transparent;
    -fx-text-fill: white;
}

.table-view .column-header {
    -fx-background-color: transparent;
}

.table-view .table-cell{
    -fx-text-fill: white;
}

.table-row-cell{
    -fx-background-color: -fx-table-cell-border-color, #616161;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em; /* 0 */
}

.table-row-cell:odd{
    -fx-background-color: -fx-table-cell-border-color, #424242;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em; /* 0 */
}

.table-row-cell:selected {
    -fx-background-color: #005797;
    -fx-background-insets: 0;
    -fx-background-radius: 1;
}

.table-view > .virtual-flow > .scroll-bar:vertical,
.table-view > .virtual-flow > .scroll-bar:vertical > .track,
.table-view > .virtual-flow > .scroll-bar:vertical > .track-background,
.table-view > .virtual-flow > .scroll-bar:horizontal,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track-background {
    -fx-background-color: transparent;
}



.table-view > .virtual-flow > .scroll-bar > .increment-button,
.table-view > .virtual-flow > .scroll-bar > .decrement-button {
    -fx-opacity: 0;
}

.table-row-cell:empty {
    -fx-background-color: black;
}

.table-row-cell:empty .table-cell {
    -fx-border-width: 0px;
}